<a href="https://colab.research.google.com/github/sidraijazctn-cyber/Python_project/blob/main/OOP_Assingment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#class car
class car:
  def brand(self):
    print("Honda")

# Brand
class car:
  def model(self):
    print("Civic")

#year
class car:
  def year(self):
    print(2022)
#creating an object for class car
car_obj = car()

car_obj.brand()
Car_obj.model()
car_obj.year()

AttributeError: 'car' object has no attribute 'brand'

In [ ]:
#class Car with members brand, model, and year
class Car:
  def __init__(self, brand, model, year):
    self.brand = brand
    self.model = model
    self.year = year

#method to display details
  def car_info(self):
    print("Brand:", self.brand)
    print("Model:", self.model)
    print("Year:", self.year)

#creating object of the class car
car1 = Car("Honda", "Civic", 2022)
car2 = Car("Toyota", "Corolla", 2024)

# Calling the info function to display object details
car1.car_info()
car2.car_info()

Brand: Honda
Model: Civic
Year: 2022
Brand: Toyota
Model: Corolla
Year: 2024

In [ ]:
#class Student with members name, roll_no, and marks
class Student:
  def __init__ (self, name, roll_no, marks):
    self.name = name
    self.roll_no = roll_no
    self.marks = marks

# method to display output
  def student_info(self):
    print("Name:", self.name)
    print("Roll No:", self.roll_no)
    print("Marks:", self.marks)

#creatr object of the calss
Student1 = Student("Amna", 14, (890/1100) * 100)
Student2 = Student("Maira", 12, (920/1100) * 100)

#calling the info function to display object details
Student1.student_info()
Student2.student_info()

Name: Amna
Roll No: 14
Marks: 80.9090909090909
Name: Maira
Roll No: 12
Marks: 83.63636363636363

In [ ]:
#Create calculator
class Calculator:
  def __init__(self, x, y):
    self.x = x
    self.y = y
  def add(self):
    print(self.x + self.y)
    return self.x + self.y
  def sub(self):
    print(self.x - self.y)
    return self.x - self.y
  def mul(self):
    print(self.x * self.y)
    return self.x * self.y
  def div(self):
    print(self.x / self.y)
    return self.x / self.y

# create calcuator
x = 10
y = 20
my_calculator = Calculator(x, y)

#Perform operation using the object
my_calculator.add()
my_calculator.sub()
my_calculator.mul()
my_calculator.div()

30
-10
200
0.5

0.5

In [ ]:
# class book with attributes title, author, and price
class book:
  def __init__ (self, title, author, price):
    self.title = title
    self.author = author
    self.price = price

# method to display output
  def book_info(self):
    print("Title:", self.title)
    print("Author:", self.author)
    print("Price:", self.price)

#display object
book1 = book("Calculus", "j.j Thomosom", 450)
book2 = book("Fluid ynamics", "not known", 650)

#calling the info function to display object details
book1.book_info()
book2.book_info()

Title: Calculus
Author: j.j Thomosom
Price: 450
Title: Fluid ynamics
Author: not known
Price: 650