<a href="https://colab.research.google.com/github/sidraijazctn-cyber/Python_project/blob/main/Practice_file.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Helo word
print("Helo world")

Helo world

In [ ]:
#Add two numbers
a = 27
b = 56
sum = a + b
print("The sum is:",sum)

The sum is: 83

In [ ]:
# If-else (Decsion making)
age = 15
if age >= 18:
  print("You are adult")
else:
  print("You are not adult")

You are not adult

In [ ]:
#Loop through numbers
for i in range(1, 6):
  print("Number:", i)

Number: 1
Number: 2
Number: 3
Number: 4
Number: 5

In [ ]:
#Loop through numbers
for i in range(1, 6):
  print("Number:", i-1)

Number: 0
Number: 1
Number: 2
Number: 3
Number: 4

In [ ]:
#while loop (runs until condition is false)
i = 0
while i <= 7:
  print("Number:", i)
  i += 1

Number: 0
Number: 1
Number: 2
Number: 3
Number: 4
Number: 5
Number: 6
Number: 7

In [ ]:
# print your name

name = string(input("Enter your name" ))
print("Your name is:", name)

NameError: name 'string' is not defined

In [ ]:
#print my name
name = input("Enter your name" )
print("Your name is:", name)

Enter your nameSidra
Your name is: Sidra

In [ ]:
#Print your name and age in the same line
name = input("Enter your name" )
age = input("Enter your age" )
print("Your name is:", name, "and your age is:", age)

Enter your nameSidra
Enter your age22
Your name is: Sidra and your age is: 22

In [ ]:
#print your name and age in the same line
name = "Sidra"
age = 22
print("My name is:", name, "and my age is:", age)

My name is: Sidra and my age is: 22

In [ ]:
#Take input from user: name â†’ print "Hello, <name>"
name = input("Enter your name")
print("Hello:", name)

Enter your nameSidra
Hello: Sidra

In [ ]:
#Take two numbers as input and print their sum
num1 = int(input("Enter first number"))
num2 = int(input("Enter second number"))
sum = num1 + num2
print("Their sum is:", sum)

Enter first number23
Enter second number45
Their sum is: 68

In [ ]:
#Alternative
#Take two numbers as input and print their sum
num1 = int(input("Enter first number"))
num2 = int(input("Enter second number"))
print("Their sum is:", num1 + num2)

Enter first number23
Enter second number  45
Their sum is: 68

In [ ]:
#Take input for a number and print its square
num = int(input("Enter a number"))
print("The square of the number is:", num*num)

Enter a number  8
The square of the number is: 64

In [ ]:
#Alternate
#Take input for a number and print its square
num = int(input("Enter a number"))
print("The square of the number is:", num**2)

Enter a number   8
The square of the number is: 64

In [ ]:
#Store your name, age, and grade in variables â†’ print them
name = "Sidra"
age = 22
grade = "A"
print("My name is:", name, "and my age is:", age, "having grade:", grade)

My name is: Sidra and my age is: 22 having grade: A

In [ ]:
#Assign two variables: x = 10, y = 5 â†’ print addition, subtraction, multiplication, division
x = 10
y = 5

#Operations
Addition = x+y
Subtraction = x-y
Multplication = x*y
Division = x/y

print("Addition:", Addition)
print("Subtraction:", Subtraction)
print("Multiplication:", Multplication)
print("Division:", Division)

Addition: 15
Subtraction: 5
Multiplication: 50
Division: 2.0

In [ ]:
#Assign two variables: x = 10, y = 5 â†’ print addition, subtraction, multiplication, division
x = 10
y = 5

#Operations
print("Addition:", x+y)
print("Subtraction:", x-y)
print("Multiplication:", x*y)
print("Division:", x/y)

Addition: 15
Subtraction: 5
Multiplication: 50
Division: 2.0

In [ ]:
#Convert a string "100" into integer and add 50
num = "100"    #String
num = int(num)   #Convert into integer
result = num + 50
print("Result:", result)

Result: 150

In [ ]:
#Convert a string "100" into integer and add 50
num = "100"    #String
num = int(num)   #Convert into integer
result = num + 50
print(result)

150

In [ ]:
#Take user input for a decimal number and print its type
num = float(input("Enter a decimal number"))
print("The type of the number is:", type(num))

Enter a decimal number6.8
The type of the number is: <class 'float'>

In [ ]:
#Swap values of two variables (a = 5, b = 10)
a = 5
b = 10

#swappind values with temp(temporary) variables
temp = a
a = b
b = temp

print("After swapping:")
print("a =", a)
print("b =", b)

After swapping:
a = 10
b = 5

In [ ]:
#Swap values of two variables (a = 5, b = 10)
a = 5
b = 10

#snaping
a , b = b , a

print("After swapping:")
print("a =", a)
print("b =", b)

After swapping:
a = 10
b = 5

In [ ]:
#Check remainder when 17 is divided by 3
num = 17
divisor = 3
raminder = num % divisor
print("Remainder when 17 is divided by 3:", raminder)

Remainder when 17 is divided by 3: 2

In [ ]:
#Print result of 5 ** 3 (power operator)
num = 5
exponent = 3
result = num ** exponent
print("Result of 5 ** 3:", result)

Result of 5 ** 3: 125

In [ ]:
#Use floor division (//) â†’ divide 17 by 3
print("Floor division:", 17//2)

Floor division: 8

In [ ]:
#Write a program that takes 3 numbers and finds their average
num1 = int(input("Enter first number"))
num2 = int(input("Enter second number"))
num3 = int(input("Enter third number"))
average = (num1 + num2 + num3) / 3

print("The average of num1, num2, num3 is:", average)

Enter first number44
Enter second number66
Enter third number84
The average of num1, num2, num3 is: 64.66666666666667

In [ ]:
#Write a program that takes your age and tells how many years are left to reach 100
age = int(input("Enter your age"))
years_left = 100 - age
print("Years left to reach 100:", years_left)

Enter your age23
Years left to reach 100: 77

In [ ]:
#Create a variable x = 10 and print its type
x = 10
print("value of variable is:", x)
print("Type of x:", type(x))

value of variable is: 10
Type of x: <class 'int'>

In [ ]:
#Create variables name = "Ali", age = 22, cgpa = 3.5 and print them in one line
name = "Ali"
age = 22
cgpa = 3.5
print("Name:", name, "Age:", age, "CGPA:", cgpa)

Name: Ali Age: 22 CGPA: 3.5

In [ ]:
#Store a sentence in a string variable and print its length using len()
sentence = "This is a sentence"
print("Length of sentence:", len(sentence))

Length of sentence: 18

In [ ]:
#Create a variable with a float value and convert it into an integer using int()
float_value = 3.14
integer_value = int(float_value)
print("Float value:", float_value)
print("Integer value:", integer_value)

Float value: 3.14
Integer value: 3

In [ ]:
#Take a number input and print whether it is even or odd
num = int(input("Enter a number"))
if num % 2 == 0:
  print("Even number")
else:
  print("Odd number")

Enter a number4
Even number

In [ ]:
#Take two numbers and perform addition, subtraction, multiplication, division
num1 = int(input("Enter first number"))
num2 = int(input("Enter secod number"))

#Operations
print("Addition:", num1 + num2)
print("Multiplication:", num1 * num2)
print("Subtraction:", num1 - num2)
print("Division:", num1 / num2)

Enter first number44
Enter secod number4
Addition: 48
Multiplication: 176
Subtraction: 40
Division: 11.0

In [ ]:
#Find the remainder when 29 is divided by 5
num1 = 29
divisor = 5
remainder = num1 % divisor
print("Remainder:", remainder)

Remainder: 4

In [ ]:
#Write a program to calculate the square and cube of a number
num = int(input("Enter a numer"))
square = num ** 2
cube = num ** 3

#Operations
print("Square:", square)
print("Cube:", cube)

Enter a numer5
Square: 25
Cube: 125

In [ ]:
#Use // (floor division) to divide two numbers and print the result
num1 = 55
num2 = 6

#operation
result = num1 // num2

#Display output
print("Floor division:", result)

Floor division: 9

In [ ]:
#Use / (division) to divide two numbers and print the result
num1 = 55
num2 = 6

#operation
result = num1 / num2

#Display output
print("Division:", result)

Division: 9.166666666666666

In [ ]:
#Use ** operator to calculate 5^4
num1 = 5
num2 = 4

#Formula
exponent = num1 ** num2

#Display output
print("Answer:", exponent)

Answer: 625

In [ ]:
#Start with x = 10. Use x += 5, x -= 3, x *= 2, and print the value of x
x = 10        # start with 10
x += 5        # add 5
x -= 3        # subtract 3
x *=2          # multiply by 2

#operation
print("Final value of x is:", x)

Final value of x is: 24

In [ ]:
#Compare two numbers (taken as input) and print whether they are equal or not
num_1 = int(input("Enter a number"))
num_2 = int(input("Enter a number"))

if num_1 == num_2:
  print("Numbers are equal")
else:
  print("Numbers are not equal")

Enter a number9
Enter a number0
Numbers are not equal

In [ ]:
#Check if 15 is greater than 20 and print the result
num1 = 15
num2 = 20

if num1 > num2:
  print("15 is greater than 20")
else:
  print("15 is not greater than 20")

15 is not greater than 20
15 is not greater than 20

In [ ]:
x = 15
y = 20

result = x > y
print("Is 15 greater than 20?", result)

Is 15 greater than 20? False

In [ ]:
#Take two numbers and check if both are greater than 0 using and
num1 = 10
num2 = 20

if num1 > 0 and num2 > 0:
  print("Both numbers are greater than 0")
else:
  print("Both numbers are not greater than 0")

Both numbers are greater than 0

In [ ]:
#Check if a number is either less than 10 or greater than 50
num = 30

if num < 10 or num > 50:
  print("Number is either less than 10 or greater than 50")
else:
  print("Number is not less than 10 or greater than 50")

Number is not less than 10 or greater than 50

In [ ]:
#Take a number as input and check if it is positive
num = int(input("Enter a number"))

if num > 0:
  print("Number is positive")
else:
  print("Number is not positive")

Enter a number6
Number is positive

In [ ]:
#Check if a personâ€™s age (input) is greater than or equal to 18, print "Adult"
age = int(input("Enter your age"))

if age >= 18:
  print("Adult")
else:
  print("You are not adult, you are child.")

Enter your age8
You are not adult, you are child.

In [ ]:
#Store a number in a variable, check if it is divisible by 5
num = int(input("Enter a number"))

if num % 5 == 0:
  print("Number is divisible by 5")
else:
  print("Number is not divisible by 5")

Enter a number55
Number is divisible by 5

In [ ]:
#Take a number and check if it is even or odd
num = int(input("Enter a number"))

if num % 2 == 0:
  print("Number is even")
else:
  print("Number is odd")

Enter a number44
Number is even

In [ ]:
#Ask the user for a password, if it equals "python123", print "Access Granted", else "Access Denied"
password = input("Enter a password")

if password == "python123":
  print("Access Granted")
else:
  print("Access Denied")

Enter a passwordpython123
Access Granted

In [ ]:
#Take marks as input. If marks â‰¥ 50 â†’ "Pass", else "Fail"
marks = int(input("Enter your marks"))

if marks >= 50:
  print("Pass")
else:
  print("Fail")

Enter your marks77
Pass

In [ ]:
#Take a number and check if it is positive, negative, or zero
num = int(input("Enter a number"))

if num > 0:
  print("Number is positive")
elif num < 0:
  print("Number is negative")
else:
  print("Number is zero")

Enter a number-9
Number is negative

In [ ]:
#Ask for a grade (A, B, C, D, F) and print the remark (Excellent, Good, Average, Poor, Fail)
grade = input("Enter your grade")

if grade == "A":
  print("Excellent")
elif grade == "B":
  print("Good")
elif grade == "C":
  print("Average")
elif grade == "D":
  print("Poor")
elif grade == "F":
  print("Fail")
else:
  print("Invalid grade")

Enter your graded
Invalid grade

In [ ]:
#Take an integer and check
num = int(input("Enter a number"))

if num / 3:     #If divisible by 3 â†’ print "Fizz"
  print("Fizz")
elif num / 5:    #If divisible by 5 â†’ print "Buzz"
  print("Buzz")
elif num / 3 and num / 5:   ##If divisible by both â†’ print "FizzBuzz"
  print("FizzBuzz")
else:
  print("Number is not divisible by 3 or 5")

Enter a number5
Fizz

In [ ]:
#Take age and nationality as input. If age â‰¥ 18 and nationality = "Pakistani", print "Eligible to vote", else not eligible
age = int(input("Your age"))
nationality = input("Enter your nationality: ")

if age >= 18:
  if nationality == "pakastani":
    print("Eligible to vote")
  else:
    print("Not eligible due to wrong nationality")
else:
  print("Not eliible due to underage")

Your age19
Enter your nationality: pakastani
Eligible to vote

In [ ]:
#Take three numbers and print the largest using nested if
num1 = 15
num2 = 29
num3 = 17
if num1 > num2 and num1 > num3:
  print("The largest number is:", num1)
elif num2 > num1 and num2 > num3:
  print("The largest num is:", num2)
elif num3 > num1 and num3 > num2:
  print("The largest num is:", num3)
else:
  print("None of them is largest")

The largest num is: 29

In [ ]:
#Take three numbers and print the largest using nested if
a = int(input("Enter a number"))
b = int(input("Enter a number"))
c = int(input("Enter a number"))

#nested if o find largest number
if a >= b:
  if a >=c:
    print("Largest number is:", a)
  else:
    print("Largest number is:", c)
  else:
    if b >= c:
      print()

In [ ]:
#write a program that compares the areas of two different rectangles
length_1 = int(input("Enter the num"))
length_2 = int(input("Enter the num"))
width_1 = int(input("Enter the num"))
width_2 = int(input("Enter the num"))

area_1 = length_1 * width_1
area_2 = length_2 * width_2

#Display output
if area_1 > area_2:
  print("The Rectangle 1 is greater:", area_1)
else:
  print("The Rectangle 2 is greater:", area_2)

Enter the num4
Enter the num5
Enter the num8
Enter the num2
The Rectangle 1 is greater: 32

In [ ]:
#Print numbers from 1 to 10 using a while loop
i = 1

while i <= 10:
  print(i)
  i += 1

1
2
3
4
5
6
7
8
9
10

In [ ]:
#Print even numbers from 2 to 20 using a while loop
i = 2

while i <= 20:
  print(i)
  i += 2

2
4
6
8
10
12
14
16
18
20

In [ ]:
#Print even numbers from 2 to 20 using a while loop
i = 1
while i<= 20:
  if i % 2 == 0:
    print(i)
  i += 1

2
4
6
8
10
12
14
16
18
20

In [ ]:
#Print the table of 5 using a while loop
i = 1
while i <=10:
  print("5 x", i, "=", 5 * i)
  i += 1

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
#Take a number as input and print its multiplication table using a while loop
num = int(input("Enter a number"))

i = 1
while i <= 10:
  print ("num x", i, "=",num * i)
  i += 1

Enter a number4
num x 1 = 4
num x 2 = 8
num x 3 = 12
num x 4 = 16
num x 5 = 20
num x 6 = 24
num x 7 = 28
num x 8 = 32
num x 9 = 36
num x 10 = 40

In [ ]:
#Print numbers from 10 down to 1 using a while loop
i = 10
while i >=1:
  i -= 1
  print(i)

9
8
7
6
5
4
3
2
1
0

In [ ]:
#Print numbers from 1 to 10 using a for loop

In [ ]:
#Copy this dataset and use it to practice building a Linear Regression model that predicts a studentâ€™s exam score.

#Importing Libraries
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import pandas as pd

data = {
    "Study_Hours": [2, 3, 4, 5, 6, 7, 8, 3, 5, 6, 7, 8, 9, 10, 12],
    "Sleep_Hours": [7, 6.5, 6, 5.5, 5, 5, 4.5, 7, 6, 5.5, 5, 4.5, 4, 4, 3.5],
    "Attendance": [60, 65, 68, 72, 75, 78, 80, 62, 70, 74, 76, 79, 82, 85, 90],
    "Exam_Score": [50, 55, 60, 65, 70, 72, 75, 58, 67, 72, 74, 78, 82, 85, 90]
}

# Create a DataFrame from the data dictionary
df = pd.DataFrame(data)

print(df)

print()

print
 ()
#Values assingment and model traning
X = df[["Study_Hours", "Sleep_Hours", "Attendance"]]
y = df["Exam_Score"]
model = LinearRegression()
model.fit(X,y)

#predicting value after model traning
C

IndentationError: unexpected indent (ipython-input-3821860353.py, line 23)